<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <!--WCF客户端配置，手动增加endpoint节点-->
    <client>
      <!--商品服务契约配置-->
      <endpoint address="soap.amqp:///RabbitMQ.WCF.Service.Interfaces.IProductService" binding="rabbitMQBinding" bindingConfiguration="rabbitDoubleBinding" contract="RabbitMQ.WCF.Service.Interfaces.IProductService" name="RabbitMQ.WCF.Service.Interfaces.IProductService"/>
      <!--订单服务契约配置-->
      <endpoint address="soap.amqp:///RabbitMQ.WCF.Service.Interfaces.IOrderService" binding="rabbitMQBinding" bindingConfiguration="rabbitDoubleBinding" contract="RabbitMQ.WCF.Service.Interfaces.IOrderService" name="RabbitMQ.WCF.Service.Interfaces.IOrderService"/>
    </client>
    <!--WCF绑定配置，配置好无需修改-->
    <bindings>
      <rabbitMQBinding>
        <!--单工通信-->
        <binding name="rabbitSingleBinding" hostname="192.168.51.140" port="5672" virtualHost="/" username="admin" password="123456" oneWay="true" closeTimeout="00:10:00" sendTimeout="00:10:00" transactionFlow="false" maxmessagesize="2147483647"/>
        <!--双工通信-->
        <binding name="rabbitDoubleBinding" hostname="192.168.51.140" port="5672" virtualHost="/" username="admin" password="123456" oneWay="false" closeTimeout="00:10:00" sendTimeout="00:10:00" transactionFlow="true" maxmessagesize="2147483647"/>
      </rabbitMQBinding>
    </bindings>
    <!--WCF扩展配置，配置好无需修改-->
    <extensions>
      <bindingExtensions>
        <add name="rabbitMQBinding" type="RabbitMQ.ServiceModel.RabbitMQBindingSection, SD.RabbitMQ.ServiceModel"/>
      </bindingExtensions>
    </extensions>
  </system.serviceModel>
</configuration>
