<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <!--WCF客户端配置，手动增加endpoint节点-->
    <client>
      <!--订单服务契约配置-->
      <!--<endpoint address="http://localhost:4679/Hosts/OrderContract.svc" binding="basicHttpBinding" bindingConfiguration="BasicBinding" contract="RabbitMQ.WCF.IAppService.Interfaces.IOrderContract" name="RabbitMQ.WCF.IAppService.Interfaces.IOrderContract" />-->
      <!--<endpoint address="net.tcp://localhost:46790/Hosts/OrderContract.svc" binding="netTcpBinding" bindingConfiguration="TcpBinding" contract="RabbitMQ.WCF.IAppService.Interfaces.IOrderContract" name="RabbitMQ.WCF.IAppService.Interfaces.IOrderContract" />-->
      <endpoint address="soap.amqp:///RabbitMQ.WCF.IAppService.Interfaces.IOrderContract" binding="rabbitMQBinding" bindingConfiguration="rabbitDoubleBinding" contract="RabbitMQ.WCF.IAppService.Interfaces.IOrderContract" name="RabbitMQ.WCF.IAppService.Interfaces.IOrderContract" />
    </client>
    <!--WCF绑定配置，配置好无需修改-->
    <bindings>
      <!--基础绑定配置-->
      <basicHttpBinding>
        <binding name="BasicBinding" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00">
          <security mode="None" />
        </binding>
      </basicHttpBinding>
      <!--TCP绑定配置-->
      <netTcpBinding>
        <binding name="TcpBinding" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00">
          <security mode="None">
            <transport clientCredentialType="None" />
            <message clientCredentialType="None" />
          </security>
        </binding>
      </netTcpBinding>
      <!--RabbitMQ绑定配置-->
      <rabbitMQBinding>
        <!--单工通信-->
        <binding name="rabbitSingleBinding" hostname="192.168.51.118" port="5672" virtualHost="/" username="admin" password="sh2015!" oneWay="true" closeTimeout="00:10:00" sendTimeout="00:10:00" transactionFlow="false" maxmessagesize="2147483647" />
        <!--双工通信-->
        <binding name="rabbitDoubleBinding" hostname="192.168.51.118" port="5672" virtualHost="/" username="admin" password="sh2015!" oneWay="false" closeTimeout="00:10:00" sendTimeout="00:10:00" transactionFlow="false" maxmessagesize="2147483647" />
      </rabbitMQBinding>
    </bindings>
    <!--WCF扩展配置，配置好无需修改-->
    <extensions>
      <bindingExtensions>
        <add name="rabbitMQBinding" type="RabbitMQ.ServiceModel.RabbitMQBindingSection, RabbitMQ.ServiceModel" />
      </bindingExtensions>
    </extensions>
  </system.serviceModel>
</configuration>
