<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <!--WCF服务配置，手动增加service节点-->
    <services>
      <service behaviorConfiguration="DefaultBehavior" name="RabbitMQ.WCF.Server.Implements.ProductService">
        <endpoint address="soap.amqp:///RabbitMQ.WCF.Server.Interfaces.IProductService"
          binding="rabbitMQBinding" bindingConfiguration="rabbitDoubleBinding"
          contract="RabbitMQ.WCF.Server.Interfaces.IProductService" />
      </service>
      <service behaviorConfiguration="DefaultBehavior" name="RabbitMQ.WCF.Server.Implements.OrderService">
        <endpoint address="soap.amqp:///RabbitMQ.WCF.Server.Interfaces.IOrderService"
          binding="rabbitMQBinding" bindingConfiguration="rabbitDoubleBinding"
          contract="RabbitMQ.WCF.Server.Interfaces.IOrderService" />
      </service>
    </services>
    <!--WCF行为配置，配置好无需修改-->
    <behaviors>
      <serviceBehaviors>
        <behavior name="DefaultBehavior">
          <serviceMetadata httpGetEnabled="false" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <!--WCF绑定配置，配置好无需修改-->
    <bindings>
      <rabbitMQBinding>
        <!--单工通信-->
        <binding name="rabbitSingleBinding" hostname="192.168.3.47" port="5672" virtualHost="/" username="admin" password="123456" oneWay="true" closeTimeout="00:10:00" sendTimeout="00:10:00" transactionFlow="false" maxmessagesize="65536" />
        <!--双工通信-->
        <binding name="rabbitDoubleBinding" hostname="192.168.3.47" port="5672" virtualHost="/" username="admin" password="123456" oneWay="false" closeTimeout="00:10:00" sendTimeout="00:10:00" transactionFlow="true" maxmessagesize="65536" />
      </rabbitMQBinding>
    </bindings>
    <!--WCF扩展配置，配置好无需修改-->
    <extensions>
      <bindingExtensions>
        <add name="rabbitMQBinding" type="RabbitMQ.ServiceModel.RabbitMQBindingSection, RabbitMQ.ServiceModel" />
      </bindingExtensions>
    </extensions>
  </system.serviceModel>
</configuration>