<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <!--WCF客户端配置，手动增加endpoint节点-->
    <client>
      <!--商品服务契约配置-->
      <endpoint address="soap.amqp:///RabbitMQ.WCF.Server.Interfaces.IProductService" binding="rabbitMQBinding" bindingConfiguration="rabbitDoubleBinding" contract="RabbitMQ.WCF.Server.Interfaces.IProductService" name="RabbitMQ.WCF.Server.Interfaces.IProductService" />
      <!--订单服务契约配置-->
      <endpoint address="soap.amqp:///RabbitMQ.WCF.Server.Interfaces.IOrderService" binding="rabbitMQBinding" bindingConfiguration="rabbitSingleBinding" contract="RabbitMQ.WCF.Server.Interfaces.IOrderService" name="RabbitMQ.WCF.Server.Interfaces.IOrderService" />
    </client>
    <!--WCF行为配置，配置好无需修改-->
    <behaviors>
      <serviceBehaviors>
        <behavior name="DefaultBehavior">
          <serviceMetadata httpGetEnabled="false" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <!--WCF绑定配置，配置好无需修改-->
    <bindings>
      <rabbitMQBinding>
        <!--单工通信-->
        <binding
          name="rabbitSingleBinding"
          hostname="192.168.8.210"
          port="5672"
          virtualHost="/"
          username="admin"
          password="123456"
          oneWay="true"
          closeTimeout="00:10:00"
          sendTimeout="00:10:00"
          maxmessagesize="65536" />
        <!--双工通信-->
        <binding
          name="rabbitDoubleBinding"
          hostname="192.168.8.210"
          port="5672"
          virtualHost="/"
          username="admin"
          password="123456"
          oneWay="false"
          closeTimeout="00:10:00"
          sendTimeout="00:10:00"
          maxmessagesize="65536">
        </binding>
      </rabbitMQBinding>
    </bindings>
    <!--WCF扩展配置，配置好无需修改-->
    <extensions>
      <bindingExtensions>
        <add name="rabbitMQBinding" type="RabbitMQ.ServiceModel.RabbitMQBindingSection, RabbitMQ.ServiceModel, Version=1.0.110.0, Culture=neutral, PublicKeyToken=null" />
      </bindingExtensions>
    </extensions>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="RabbitMQ.Client" publicKeyToken="89e7d7c5feba84ce" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.6.3.0" newVersion="3.6.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>