<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <!--WCF服务配置，手动增加service节点-->
    <services>
      <service behaviorConfiguration="DefaultBehavior" name="RabbitMQ.WCF.Service.Implements.ProductService">
        <endpoint address="soap.amqp:///RabbitMQ.WCF.IAppService.Interfaces.IProductService" binding="rabbitMQBinding" bindingConfiguration="rabbitDoubleBinding" contract="RabbitMQ.WCF.IAppService.Interfaces.IProductService" />
      </service>
      <service behaviorConfiguration="DefaultBehavior" name="RabbitMQ.WCF.Service.Implements.OrderService">
        <endpoint address="soap.amqp:///RabbitMQ.WCF.IAppService.Interfaces.IOrderService" binding="rabbitMQBinding" bindingConfiguration="rabbitDoubleBinding" contract="RabbitMQ.WCF.IAppService.Interfacess.IOrderService" />
      </service>
    </services>
    <!--WCF绑定配置，配置好无需修改-->
    <bindings>
      <rabbitMQBinding>
        <!--单工通信-->
        <binding name="rabbitSingleBinding" hostname="192.168.51.140" port="5672" virtualHost="/" username="admin" password="123456" oneWay="true" closeTimeout="00:10:00" sendTimeout="00:10:00" transactionFlow="false" maxmessagesize="2147483647" />
        <!--双工通信-->
        <binding name="rabbitDoubleBinding" hostname="192.168.51.140" port="5672" virtualHost="/" username="admin" password="123456" oneWay="false" closeTimeout="00:10:00" sendTimeout="00:10:00" transactionFlow="true" maxmessagesize="2147483647" />
      </rabbitMQBinding>
    </bindings>
    <!--WCF行为配置，配置好无需修改-->
    <behaviors>
      <serviceBehaviors>
        <behavior name="DefaultBehavior">
          <!--是否允许get请求访问元数据-->
          <serviceMetadata httpGetEnabled="true" />
          <!--从请求消息头中检索元数据地址信息-->
          <useRequestHeadersForMetadataAddress />
          <!--是否显示异常详细信息-->
          <serviceDebug includeExceptionDetailInFaults="true" />
          <!--最大序列化的对象个数-->
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <!--WCF扩展配置，配置好无需修改-->
    <extensions>
      <bindingExtensions>
        <add name="rabbitMQBinding" type="RabbitMQ.ServiceModel.RabbitMQBindingSection, SD.RabbitMQ.ServiceModel" />
      </bindingExtensions>
    </extensions>
    <!--WCF多协议绑定配置-->
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
</configuration>
