<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!--EntityFramework节点-->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!--依赖注入提供者配置节点-->
    <section name="injectionProviderConfiguration" type="SD.IOC.Core.Configuration.InjectionProviderConfiguration,SD.IOC.Core" />
    <!--依赖注入注册配置节点-->
    <section name="injectionRegisterConfiguration" type="SD.IOC.Core.Configuration.InjectionRegisterConfiguration,SD.IOC.Core" />
  </configSections>

  <!--连接字符串-->
  <connectionStrings>
    <!--默认连接字符串-->
    <add name="RabbitMQ" connectionString="Data Source=.;Initial Catalog=RabbitMQ;User Id=sa;Password=shdev2014@;MultipleActiveResultSets=true;" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <!--依赖注入提供者配置，默认采用Autofac-->
  <injectionProviderConfiguration type="SD.IOC.Core.AutofacProvider.AutofacInstanceResolver" assembly="SD.IOC.Core" />

  <!--依赖注入注册配置-->
  <injectionRegisterConfiguration>
    <!--As接口程序集列表-->
    <asInterfaceAssemblies>
      <assembly name="RabbitMQ.Transaction.AppService" />
    </asInterfaceAssemblies>

    <!--As自身程序集列表-->
    <asSelfAssemblies>
      <assembly name="RabbitMQ.Transaction.AppService" />
    </asSelfAssemblies>
  </injectionRegisterConfiguration>

  <!--WCF配置-->
  <system.serviceModel>
    <!--WCF服务配置，手动增加service节点-->
    <services>
      <!--商品服务契约配置-->
      <service behaviorConfiguration="DefaultBehavior" name="RabbitMQ.Transaction.AppService.Implements.ProductService">
        <endpoint address="soap.amqp:///RabbitMQ.WCF.Server.Interfaces.IProductService"
          binding="rabbitMQBinding" bindingConfiguration="rabbitDoubleBinding"
          contract="RabbitMQ.Transaction.AppService.Interfaces.IProductService" />
      </service>
    </services>
    <!--WCF客户端配置，手动增加endpoint节点-->
    <client>

    </client>
    <!--WCF行为配置，配置好无需修改-->
    <behaviors>
      <serviceBehaviors>
        <behavior name="DefaultBehavior">
          <serviceMetadata httpGetEnabled="false" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <!--依赖注入扩展配置-->
          <injection />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <!--WCF绑定配置，配置好无需修改-->
    <bindings>
      <wsHttpBinding>
        <!--默认绑定配置-->
        <binding name="DefaultBinding" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00">
          <security mode="None">
            <transport clientCredentialType="None" />
            <message clientCredentialType="None" />
          </security>
        </binding>
        <!--事务绑定配置-->
        <binding name="TransactionBinding" transactionFlow="true" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00">
          <security mode="None">
            <transport clientCredentialType="None" />
            <message clientCredentialType="None" />
          </security>
          <reliableSession enabled="true" ordered="true" inactivityTimeout="00:10:00" />
        </binding>
        <!--事务绑定配置（无可靠性会话）-->
        <binding name="NotReliableSessionBinding" transactionFlow="true" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00">
          <security mode="None">
            <transport clientCredentialType="None" />
            <message clientCredentialType="None" />
          </security>
          <reliableSession enabled="false" />
        </binding>
      </wsHttpBinding>
      <rabbitMQBinding>
        <!--单工通信-->
        <binding name="rabbitSingleBinding" hostname="192.168.3.47" port="5672" virtualHost="/" username="admin" password="123456" oneWay="true" closeTimeout="00:10:00" sendTimeout="00:10:00" transactionFlow="false" maxmessagesize="65536" />
        <!--双工通信-->
        <binding name="rabbitDoubleBinding" hostname="192.168.3.47" port="5672" virtualHost="/" username="admin" password="123456" oneWay="false" closeTimeout="00:10:00" sendTimeout="00:10:00" transactionFlow="true" maxmessagesize="65536" />
      </rabbitMQBinding>
    </bindings>
    <!--WCF扩展配置，配置好无需修改-->
    <extensions>
      <bindingExtensions>
        <add name="rabbitMQBinding" type="RabbitMQ.ServiceModel.RabbitMQBindingSection, RabbitMQ.ServiceModel.LoadBalance" />
      </bindingExtensions>
      <behaviorExtensions>
        <!--依赖注入扩展配置-->
        <add name="injection" type="SD.IOC.Integration.WCF.IocServiceBehaviorElement, SD.IOC.Integration.WCF" />
      </behaviorExtensions>
    </extensions>
  </system.serviceModel>

  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>