<?xml version="1.0"?>
<configuration>
  <system.serviceModel>
    <!--WCF服务配置，手动增加service节点-->
    <services>
      <service behaviorConfiguration="DefaultBehavior" name="RabbitMQ.WCF.Server.Implements.ProductService">
        <endpoint
          address="soap.amqp:///RabbitMQ.WCF.Server.Interfaces.IProductService"
          binding="rabbitMQBinding"
          bindingConfiguration="rabbitMQConfig"
          contract="RabbitMQ.WCF.Server.Interfaces.IProductService"/>
      </service>
    </services>
    <!--WCF行为配置，配置好无需修改-->
    <behaviors>
      <serviceBehaviors>
        <behavior name="DefaultBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <!--WCF绑定配置，配置好无需修改-->
    <bindings>
      <rabbitMQBinding>
        <binding name="rabbitMQConfig" hostname="192.168.3.250" port="5672" username="admin" password="123456" oneWay="false"/>
      </rabbitMQBinding>
    </bindings>
    <!--WCF扩展配置，配置好无需修改-->
    <extensions>
      <bindingExtensions>
        <add name="rabbitMQBinding" type="RabbitMQ.ServiceModel.RabbitMQBindingSection, RabbitMQ.ServiceModel, Version=1.0.110.0, Culture=neutral, PublicKeyToken=null"/>
      </bindingExtensions>
    </extensions>
  </system.serviceModel>

  <system.web>
    <compilation debug="true"/>
  </system.web>
</configuration>